extends layout

block content
  div(class='wrapper')
    h2 Add a new Flashcard
    form(action='/add_question/new', method='POST')
      label(for='question') Question:
      input(type='text', name='question')
      label(for='answer') Answer:
      textarea(name='answer', rows='10',cols='50')
      input(type='submit' name='submit')