extends layout

block scripts
  script(type='text/javascript', src='/javascripts/flashcards.js')
  
block content
  article
    nav
      a(id='previousCard', href='#', title='previous card', data-card-index='') <i class="fas fa-chevron-left"></i>
      a(id='home', href='/', title='home', data-card-index='') <i class="fas fa-home"></i>
      a(id='nextCard', href='#', title='next-card', data-card-index='') <i class="fas fa-chevron-right"></i>
    div(class='flip-card')
      div(id='flip-card-inner-container', class='flip-card-inner')
  div(class='question')
    a(href='/add_question') Add a new question?